@CHARSET "UTF-8";

body {
    background-color: #FFE7C0;
    font-family: sans-serif;
    margin: 0px;
}

/* unvisited link */
a:link {
    color: #9F8760;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #9F8760;
}

/* mouse over link */
a:hover {
    color: #BFA780;
}

table {
	border: 0;
	border-collapse: collapse;
}

.dataTable th {
	background-color: #DFC7A0;
}

.dataTable tr:nth-child(odd) {
	background-color: #EFD7B0;
}

th, td {
	padding: 6px;
}

#headerLeft {
	padding-left: 8px;
	padding-top: 8px;
	float: left;
	height: 60px;
}

#headerRight {
	padding-right: 8px;
	padding-top: 8px;
	float: right;
	height: 60px;
	line-height: 60px;
}

#headerRight span {
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}

#headerCenter {
	padding-top: 8px;
	width: 300px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -150px;
	text-align: center;
}

#disconnectImg {
	position: fixed;
	top: 10px;
	right: 10px;
	display: none;
}

#content {
	clear:both;
	margin-top: 75px;
}

#loginForm, #userForm, #userTable {
	margin-left: auto;
	margin-right: auto;
	width: 450px;
}

#beerForm {
	margin-left: auto;
	margin-right: auto;
	width: 650px;
}

#beerTable {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

#beerTable table {
	width: 100%;
	font-size: smaller;
}

#beerTable table .nameCol {
	width: 35%;
	text-align: left;
}

#beerTable table .styleCol {
	width: 17%;
	text-align: left;
}

#beerTable table .locationCol {
	width: 22%;
	text-align: left;
}

#beerTable table .abvCol {
	width: 6%;
	text-align: right;
}

#beerTable table .ibuCol {
	width: 6%;
	text-align: right;
}

#beerTable table .imageCol {
	width: 7%;
	text-align: left;
}

#beerTable table .editCol {
	width: 3%;
	text-align: center;
}

#beerTable table .delCol {
	width: 3%;
	text-align: center;
}

#editBeerExistingImageLink {
	font-style: italic;
	font-size: smaller; 
}

#editBeerExistingImage {
	background-color: #DFC7A0;
	padding: 5px;
	border: 1px solid #000000;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	box-shadow: 3px 3px 8px grey;
	display: none;
}

#editBeerExistingImage img {
	max-width: 500px;
	max-height: 500px;
}

#tapTable {
	margin-left: auto;
	margin-right: auto;
	width: 550px;
}

#tapTable table {
	width: 100%;
	font-size: smaller;
}

#tapTable table .tapCol {
	width: 25%;
	text-align: left;
}

#tapTable table .beerCol {
	width: 75%;
	text-align: left;
}

#tapTable select {
	width: 100%;
}

#userTable table {
	width: 100%;
}

#userTable table .nameCol {
	width: 90%;
	text-align: left;
}

#userTable table .delCol {
	width: 10%;
	text-align: center;
}

input[type=text], input[type=password] {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 3px #ddd;
	padding: 8px;
	width: 250px;
}

input[type=number] {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 3px #ddd;
	padding: 8px;
	width: 50px;
}

textarea {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 3px #ddd;
	padding: 8px;
	width: 500px;
	height: 150px;
}

input[type=button], input[type=submit], button {
	display: block;
	border: 1px solid #CFB790;
	border-radius: 4px;
	box-shadow: 0 1px 3px #CFB790;
	padding: 8px;
	min-width: 100px;
	background-color: #DFC7A0;
}

input[type=button]:hover, input[type=submit]:hover, button:hover {
	background-color: #E7D0A7;
}

#msg {
	padding: 5px;
	font-weight: bold;
	font-style: italic;
	position: fixed;
	width: 450px;
	height: 60px;
	line-height: 60px;
	top: 15px;
	left: 50%;
	margin-left: -225px;
	border-radius: 8px;
	text-align: center;
	vertical-align: middle;
	animation-name: msgin;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.msgSuccess {
	color: #008800;
	background: #FFFAC0;
	border: 1px solid #DFD0A0;
}

.msgError {
	color: #DD0000;
	background: #FFC7A0;
	border: 1px solid #DFB780;
}

.swiper-container {
    width: 1200px;
    height: 600px;
}

.swiper-pagination {
	display: none;
}

.swiper-pagination-bullet {
	background-color: #AF9770;
}

.beer-slide {
	width: 600px;
	height: 600px;
}

#tempDisplay {
	position: absolute;
	left: 50%;
	width: 150px;
	margin-left: -75px;
	text-align: center;
	padding-top: 5px;
	color: #FFE7C0;
	font-weight: bold;
	font-size: large;
	z-index: 10;
}

#onTapHeader {
	background-color: #DFC7A0;
	color: #FFE7C0;
	padding: 5px;
	font-weight: bold;
	font-size: x-large;
	font-variant: small-caps;
}

#onTapTitle {
	padding: 5px 5px 0px 5px;
	margin-top: 5px;
	font-weight: bold;
	font-size: xx-large;
}

#onTapLocation {
	padding: 0px 5px 5px 5px;
	font-style: italic;
	color: #BFA780;
}

.highAbv {
	background-color: #FF0000;
	color: #FFFFFF !important;
}

.onTapDetails span {
	display: inline-block;
	text-align: center;
	font-size: larger;
	font-weight: bold;
	color: #BFA780;
}

.onTapDetails span:nth-child(1) {
	width: 30%;
}

.onTapDetails span:nth-child(2) {
	width: 38%;
}

.onTapDetails span:nth-child(3) {
	width: 30%;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.onTapImageContainer {
	height: 275px;
	white-space: nowrap;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.onTapImage {
    vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}

.onTapDescription {
	padding: 15px;
	margin-left: 15px;
	margin-right: 15px;
	text-align: justify;
}

@media (max-width: 1199px) {
	.swiper-container {
		width: 600px;
	}
	.swiper-pagination {
		display: block;
	}
	.beer-slide {
		width: 550px;
		margin-left: auto;
		margin-right: auto;
	}
}

@keyframes msgin {
    0% {top: -35px; opacity: 0; display:block;}
    10% {top: 15px; opacity: 0.8; display:block;}
    90% {top: 15px; opacity: 0.8; display:block;}
    100% {top: 15px; opacity: 0; display:none;}
}